- content_for :head do
  %title Mongoid: Главная

%h1 Mongoid

%p
  Mongoid (произносится «мангойд») — это Object-Document-Mapper (ODM) для
  <a href="http://mongodb.org">MongoDB</a>, написанный на Ruby. Начало проекту
  было положено <a href="http://github.com/durran">Дюраном Джордоном (Durran Jordan)</a>
  в августе 2009 года во время попойки в печально известном «Оазисе», штат Флорида, США.

%p
  Основная идея Mongoid — предоставить привычный Ruby-разразработчикам, которые знакомы с
  Active Record или Data Mapper, API к MongoDB со всеми преимуществами, которые она даёт:
  высокопроизводительный schema-less документо-ориентированный дизайн, динамические запросы и
  атомарные операции модификации.

%p
  %i
    На этом сайте расположена документация для Mongoid 3, а также Origin и Moped.
    Документацию для Mongoid 2 <a href="http://two.mongoid.org">можно найти здесь</a>.

%h2 Пример синтаксиса

.well
  %table
    %tr
      %td.samurai= image_tag "/images/samurai.png"
      %td.note
        Mongoid поддерживает только MRI 1.9.2, 1.9.3 и HEAD, а также JRuby 1.6.0+ в
        режиме 1.9. Все примеры кода используют синтаксис 1.9.

:coderay
  #!ruby

  class Artist
    include Mongoid::Document
    field :name, type: String
    embeds_many :instruments
  end

  class Instrument
    include Mongoid::Document
    field :name, type: String
    embedded_in :artist
  end

  syd = Artist.where(name: "Syd Vicious").between(age: 18..25).first
  syd.instruments.create(name: "Bass")
  syd.with(database: "bands", session: "backup").save!
